In [1]:
#import dependencies
import pandas as pd
import numpy as np
import random as rnd


import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv('../data/features.csv')

In [7]:
df.head()

,Title,Year,Rated,Genre,Director,Actors,imdbRating
0,Jigsaw,2017,R,"Crime, Horror, Mystery","Michael Spierig, Peter Spierig","Matt Passmore, Tobin Bell, Callum Keith Rennie...",6.1
1,Suburbicon,2017,R,"Crime, Drama, Mystery",George Clooney,"Steve Monroe, Gavin Wilde, Landon Gordon, Hope...",5.4
2,Thank You For Your Service,2017,R,"Biography, Drama, War",Jason Hall,"Haley Bennett, Miles Teller, Joe Cole, Amy Sch...",6.6
3,Geostorm,2017,PG-13,"Action, Sci-Fi, Thriller",Dean Devlin,"Gerard Butler, Jim Sturgess, Abbie Cornish, Al...",5.5
4,Same Kind Of Different As Me,2017,PG-13,Drama,Michael Carney,"Renée Zellweger, Jon Voight, Greg Kinnear, Dji...",6.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112 entries, 0 to 111
Data columns (total 7 columns):
Title         112 non-null object
Year          112 non-null object
Rated         107 non-null object
Genre         112 non-null object
Director      107 non-null object
Actors        112 non-null object
imdbRating    110 non-null float64
dtypes: float64(1), object(6)
memory usage: 6.2+ KB

In [6]:
df.describe()

       imdbRating
count  110.000000
mean     6.485455
std      0.942750
min      2.900000
25%      5.900000
50%      6.550000
75%      7.200000
max      8.400000